extends layout 

block content
    a(href="/inventory/products" id="goback") <- Go back

    h2 View all orders

    each order in orders
        - const dateObj = new Date(order.date_placed)
        - const options = { month: 'short', day: 'numeric', year: 'numeric' }
        - const formattedDate = dateObj.toLocaleDateString('en-US', options)
        .orders-container
            .orders 
                .grid-container
                    .div1
                        .oflex-container 
                            .something2
                                .order-amount.order-info
                                    h2 Total amount
                                    p ₹#{order.totalAmount}  

                                .shipping-address
                                    h2 Shipping address 
                                    p(style="margin-top: 0.250rem;") #{order.shippingAddress.name}
                                    p(style="width:150px;") #{order.shippingAddress.address}
                                    p #{order.shippingAddress.city}
                                    p #{order.shippingAddress.state} - #{order.shippingAddress.pin}
                                    p +91 #{order.shippingAddress.phone.substring(3)}
                            
                            .something1
                                .order-date.order-info
                                    h2 Placed on
                                    p #{formattedDate} 
                                .order-number.order-info
                                    h2 Order number 
                                    p #{order.razorpay_order_id.split('_')[1]}    

                                .order-number.order-info
                                    h2 Order status 
                                    - const order_status = order.status.charAt(0).toUpperCase() + order.status.slice(1);
                                    p #{order_status}

                    .div2 
                        .order-product-list
                            each product, index in order.products
                                .order-product-item.flex.flex-gap.my-3
                                    img.product-image(src=`/images/uploads/${product.product.images[0]}` class='product-thumbnail' alt=`product image`)
                                    .product-details.flex.flex-col
                                    h4.product-name.text-md #{product.product.name}
                                    .product-info.mt-2
                                        p.product-color.text-gray-500.text-sm Color: #{product.color}
                                        p.product-price.text-gray-500.text-sm Price: ₹#{product.product.price}
                                        p.product-quantity.text-gray-500.text-sm Quantity: #{product.quantity}

                    .div3 
                        .order-status.order-info 
                            h2 Change order status 
                            form(action=`orders/changeOrderStatus/${order._id}` method='post')
                                select(name='orderStatus')
                                    option(value='select') Select
                                    option(value='shipped') Shipped
                                    option(value='delivered') Delivered
                                button(type='submit') Update 