extends layout 

block content 

    if message
      .alert
        span(class="closebtn") &times;
        p= message

    .semi-header
        .div
            a(href="/inventory/products/create")
                .add-prod-btn.link-btn
                    p(id="plus") +
                    p Add Product

        .div
            a(href="/inventory/new")
                .add-cat-btn.link-btn
                    p(id="plus") +
                    p Create new category

        .div
            a(href="/orders")
                .view-orders-btn.link-btn 
                    p View all orders
                    p(id="plus") &rarr;

    if products_list 
        - const numberOfProds = products_list.length 

        .sort-drop 
            form(action="" method='POST') 
                select(type='select' placeholder='Filter by category' name='category' style="padding: 0.7rem")
                    option(value="all") All Categories 
                    each cat in category
                        if cat
                            option(value=(cat._id) selected=(selectedCategory === cat.name)) #{cat.name}
                
                button Filter
        
        if (numberOfProds === 0)
            h2#display-msg No products. Please add some products.
        else 
            if (selectedCategory === undefined) 
                - selectedCategory = 'all'
            h3(id='showing') Showing #{numberOfProds >= 1 ? numberOfProds : 1} results
        .products-list 
            for product in products_list 
                .product
                    .prod-img
                        img(src=`/images/uploads/${product.images[0]}`, alt="Image")
                    .prod-info
                        .col1
                            .product-name.product-attr
                                p Name
                                - const prodName = product.name.charAt(0).toUpperCase() + product.name.slice(1);
                                span #{prodName}

                            .product-stock.product-attr
                                p Stock
                                span= product.stock

                            .product-cat.product-attr
                                p Category
                                span= product.category.name
                        
                        .col2 
                            .product-weight.product-attr
                                p Weight
                                span #{product.weight} kg

                            .product-price.product-attr
                                p Price
                                span ₹#{product.price}

                            .product-colors.product-attr
                                span Available Colors
                                p(id='colors-container')
                                    each color in product.colors
                                        span(id='color') #{color}
                        
                        .span(colspan='2')
                            a(href=`/inventory/products/${product._id}`)
                                .details-btn
                                    p View More 
                            